{% extends 'FrontendBundle::arreglo.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style> 
      a {
        text-decoration: none;
        color: #4c2606;
      }
      .entrada{
         color: #4c2606;
      }

      h2{
      color:#70c195;
       font-weight: bold;
       text-align:center;
      }
    </style>
{% endblock %}

{% block content %}
  

  <div style="background-color:#faf4ee;min-height:600px; ">
    <div> 
        
        <div class="container">
        <div class="row">
          
          <div class="col-md-3 col-sm-12" style="text-align:left;">
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
                 <div id="accordion">
                    {% for categoria in categorias  %}
                      {% set contador=1 %}
                        {% if categoria.subcategorias is empty %}
                          <div class="list-group">
<a class="list-group-item list-group-item-action active" style="background-color:#d5bbaa;border-color: #d5bbaa;color:#4c2606;" href="{{path('blog',{'categoria': categoria.id})}}">{{categoria.titulo}}</a>
                          {% else %}
                          <div class="list-group">
<a class="list-group-item list-group-item-action active" style="color:#4c2606;background-color:#d5bbaa;border-color: #d5bbaa" " href=" {{path('blog',{'categoria': categoria.id})}} ">{{categoria.titulo}}</a>
                            {% for subcategoria in categoria.subcategorias %}
                              <a class="list-group-item list-group-item-action" href="{{path('blog',{'categoria': subcategoria.id})}}">{{subcategoria.titulo}}</a>
                            {% endfor %}
                          {% endif %}
                          </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          <div class="col-md-12" class="entrada">
              {% for entrada in entradas %}
                  <div>
                    <h2>{{entrada.titulo | raw}}</h2>
                  </div>
                  <div>
                    {{entrada.desarrollo | raw}}
                  </div>
                  <br>
                  <div style="text-align:center;">
                    <div style="margin-left:auto;margin-right:auto;">
                      <a  href="{{path('detalleEntrada', {'idPagina':entrada.id})}}"><img src="{{asset('bundles/frontend/images/blog/BotonVerMas.png')}}" alt=""></a>
                    </div>
                  </div>
          <hr />
              {% endfor %}
          </div>
        </div>
        </div>
      </div>
    </div> 
      
  </div>
    
{% endblock %}
