{% extends 'FrontendBundle::arreglo.html.twig' %}
{% block content %}
	<div style="min-height:500px;" class="container">
		<div class="row">
			
	    	<div class="col-md-3">
	    		<div class="d-flex flex-column">
		    		<div class="contactodiv">
		    			<img style="width:100%" src="{{asset('bundles/frontend/images/contacto/BurbujaContaco.png')}}" alt="">
		    		</div>
		    		<br>
		    		<div class="contactodiv">
		    			<a class="contacto" href=""><img class="contactoimagen" src="{{asset('bundles/frontend/images/contacto/FacebookContacto.png')}}" alt=""> @Arphospcmg</a>
		    		</div>
		    		<br>
		    		<div class="contactodiv">
		    			<a class="contacto" href=""><img class="contactoimagen" src="{{asset('bundles/frontend/images/contacto/InstagramArphos.png')}}" alt=""> Arphos_peluqueria</a>
		    		</div>
		    		<br>
		    		<div class="contactodiv">
		    			<a class="contacto" href=""><img class="contactoimagen" src="{{asset('bundles/frontend/images/contacto/TwitterArphos.png')}}" alt=""> @Arhospc</a>
		    		</div>
		    		<br>
		    		<div class="contactodiv">
		    			<a class="contacto" href=""><img class="contactoimagen" src="{{asset('bundles/frontend/images/contacto/YoutubeContacto.png')}}" alt=""> Arphos C.L.</a>
		    		</div>
		    		<br>
		    		<div class="contactodiv">
		    			<a class="contacto" href=""><img class="contactoimagen" src="{{asset('bundles/frontend/images/contacto/WhatsappContacto.png')}}" alt=""> 0379-154206843</a>
		    		</div>
		    		<br>
		    		<div class="contactodiv">
		    			<a class="contacto" href=""><img class="contactoimagen" src="{{asset('bundles/frontend/images/contacto/EmailContacto.png')}}" alt=""> Arphospc@gmail.com</a>
		    		</div>
		    		<br>
	    		</div>
	    	</div>
	    	<div class="col-md-6">
	    		{{ form_start(formularioContacto) }}
	    		<div class="row">
	    			<div class="col-md-6">
	    				{{ form_label(formularioContacto.nombre) }}
						{{ form_errors(formularioContacto.nombre) }}
						{{ form_widget(formularioContacto.nombre) }}
	    			</div>
	    			<div class="col-md-6">
	    				{{ form_label(formularioContacto.apellido) }}
						{{ form_errors(formularioContacto.apellido) }}
						{{ form_widget(formularioContacto.apellido) }}
	    			</div>
				</div>
				<div class="row">
	    			<div class="col-md-6">
	    				{{ form_label(formularioContacto.direccion) }}
						{{ form_errors(formularioContacto.direccion) }}
						{{ form_widget(formularioContacto.direccion) }}
	    			</div>
	    			<div class="col-md-6">
	    				{{ form_label(formularioContacto.telefono) }}
						{{ form_errors(formularioContacto.telefono) }}
						{{ form_widget(formularioContacto.telefono) }}
	    			</div>
				</div>
				<div class="row">
	    			<div class="col-md-12">
	    				{{ form_label(formularioContacto.email) }}
						{{ form_errors(formularioContacto.email) }}
						{{ form_widget(formularioContacto.email) }}
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-12">
	    				{{ form_label(formularioContacto.mensaje) }}
						{{ form_errors(formularioContacto.mensaje) }}
						{{ form_widget(formularioContacto.mensaje) }}
	    			</div>
	    		</div>
	    		<br>
	    		<div style="text-align:center;">
	    			{{ form_widget(formularioContacto.enviar) }}
	    		</div>



				{{ form_end(formularioContacto) }}
      		</div>
      		<div class="col-md-3">

	    		<div >
	    		 	<img style="width:100%;"src="{{asset('bundles/frontend/images/contacto/DibujoArphos.png')}}" alt="">
	    		</div>
	    	</div>
	    </div>
	</div>

{% endblock %}