{% extends 'FrontendBundle::arreglo.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style> 
      a {
        text-decoration: none;
        color: #4c2606;
      }
      .entrada{
         color: #4c2606;
      }
      h2{
      color:#70c195;
       font-weight: bold;
       text-align:center;
      }
.galleria{height:467px}
.galleria-stage {
    height: 450px;
    position: absolute;
    top: 10px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    overflow: hidden;
}
    </style>
  
{% endblock %}

{% block content %}
  

  <div>
    <div class="container">
      <div class="row">
        <div class="col-3" style="text-align:center;display:inline-block;">
          <div class="accordion">
            {% for categoria in categorias %} {% set contador=1 %} 
              {% if categoria.subcategorias is empty %} {% if categoria.paginas|length > 0 %}
              <div class="list-group">
                <a class="list-group-item list-group-item-action active" style="background-color:#d5bbaa;border-color: #d5bbaa;color:#4c2606;"
                  href="{{path('blog',{'categoria': categoria.id})}}">{{categoria.titulo}}
                </a>
              </div>
              {% endif %}
          {% else %}
            <div class="list-group">
              <a class="list-group-item list-group-item-action active" style="color:#4c2606;background-color:#d5bbaa;border-color: #d5bbaa"
                href=" {{path('blog',{'categoria': categoria.id})}} ">{{categoria.titulo}}
              </a>
              {% for subcategoria in categoria.subcategorias %}
              <a class="list-group-item list-group-item-action" href="{{path('blog',{'categoria': subcategoria.id})}}">{{subcategoria.titulo}}</a>
              {% endfor %}
            </div>
            {% endif %} {% endfor %}
    
          </div>
        </div>
           
          <div class="col-8" class="entrada" style="text-align:center;">
                  <div>
                    <h2>{{entrada.titulo | raw}}</h2>
                  </div>
                  <div>
                    <img class="img-fluid" class="width:80%;margin-right:auto;margin-left:auto" src="{{asset('imagenes/paginas/'~entrada.imagen)}}" alt="">
                  <div>
                    <br>
                  <div>
                    {{entrada.introduccion | raw}}
                  </div>
                  <hr>
                  <div>
                    {{entrada.desarrollo | raw}}
                  </div>
                  
                  <br>
                  {% if entrada.resources|length > 0 %}
                    <div style="text-align:center;">
                      <div class="galleria">
                        {% for resource in  entrada.resources %}
                          <img src="{{asset('imagenes/resources/'~resource.path)}}" data-title="resource.epigrafe" data-description="resource.epigrafe">
                        {% endfor %}
                      </div>
                    </div>
                   {% endif %}
          </div>
        </div>
      </div>
    </div> 
   </div>
  </div>
    
{% endblock %}
{% block javascripts %}
  {{parent()}}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/galleria/themes/classic/galleria.classic.css')}}">
    <script src="{{ asset('assets/galleria/galleria-1.5.7.min.js') }}"></script>
    <script src="{{ asset('assets/galleria/themes/classic/galleria.classic.min.js') }}"></script>
    <script>
      $('.galleria').galleria({
          width: 700,
          height: 467 //--I made heights match
        });
      Galleria.run('.galleria', {
          height: parseInt($('.gallery').css('height')),
          wait: true
        });

    </script>
{% endblock %}