{% extends 'FrontendBundle::arreglo.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style> 
      a {
        text-decoration: none;
        color: #4c2606;
      }
      .entrada{
         color: #4c2606;
      }
      h2{
      color:#70c195;
       font-weight: bold;
       text-align:center;
      }
    </style>
{% endblock %}

{% block content %}
  

  <div>
    <div class=container>
        <div class="row">
          
          <div class="col-md-3 col-sm-12" style="text-align:left;">
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
                 <div id="accordion">
                    {% for categoria in categorias  %}
                      {% set contador=1 %}
                        {% if categoria.subcategorias is empty %}
                          <div>
                            <a class="botonarphos" href="{{path('blog',{'categoria': categoria.id})}}">{{categoria.titulo}}</a>
                            </div>
                            {% else %}
                              <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h5 class="mb-0">
                                   <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{contador}}" aria-expanded="true" aria-controls="collapse{{contador}}">
                                    {{categoria.titulo}}
                                   </button>
                                  </h5>
                                </div>
                                <div id="collapse{{contador}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                  <div class="card-body">
                                     {% for subcategoria in categoria.subcategorias %}
                                     <div>
                                        <a href="{{path('blog',{'categoria': subcategoria.id})}}">{{subcategoria.titulo}}</a>
                                     </div>
                                     
                                     {% endfor %}
                                  </div>
                                </div>
                                {% set contador=contador +1%}
                               
                          {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          <div class="col-md-12" class="entrada">
                  <div>
                    <h2>{{entrada.titulo | raw}}</h2>
                  </div>
                  <div>
                    <img style="max-width:500px;max-height:500px;"src="{{asset('bundles/imagenes/paginas'~entrada.imagen)}}" alt="">
                  <div>
                    <br>
                  <div>
                    {{entrada.introduccion | raw}}
                  </div>
                  <div>
                    {{entrada.introduccion | raw}}
                  </div>
                  <br>
          </div>
        </div>
      </div>
    </div> 
   </div>
  </div>
    
{% endblock %}
