{% extends 'FrontendBundle::arreglo.html.twig' %}

{% block imagenindex %}
	<div style="text-align:center;background-image: url('{{asset('bundles/frontend/images/template/background-wrapper.png') }}');background-size: 110%; background-repeat:no-repeat;border-top: solid;
				border-color: #7c5428;">
		<div style="text-align:center;padding-top:60px; padding-bottom:60px; background: linear-gradient(rgba(255,255,255,0.2), rgb(255, 210, 210));">
      		<img style="width:70%;" src="{{asset('bundles/frontend/images/index/logo_index.png') }}">
    	</div>
    </div>
{% endblock %}

{% block content %}
		<style type="text/css">
						a:link    {
			  /* Applies to all unvisited links */
			  text-decoration:  none;
			  font-weight:      bold;
			  color:            #d5bbaa;
			  }

		</style>
		   			<br>
      				
      				<div style="">


      					<div class="container" >
      						<div class="row">
      							<div class"col-md-3"><img style="max-width: 500px; min-height:400px;" src="{{asset('bundles/frontend/images/index/logo-perro.png') }}">
      							</div>
      							<div class="col-md-7">
      								<span><h4>¡SOLICITA TU TURNO AQUI!</h4></span>
      								<br>
      								<p>Completa la solicitud con tus datos,  y el dia y horario que quisieras tener el turno, a la brevedad te enviaremos un mensaje de texto con la confirmacion del turno.</p>
      							{{ form_start(formularioTurno) }}
      								<div class="row">
      									<div class="col-md-6">
										 	{{ form_label(formularioTurno.nombre) }}
										    {{ form_errors(formularioTurno.nombre) }}
										    {{ form_widget(formularioTurno.nombre) }}
										</div>
								    <br>
									   <div class="col-md-6">
									    {{ form_label(formularioTurno.apellido) }}
									    {{ form_errors(formularioTurno.apellido) }}
									    {{ form_widget(formularioTurno.apellido) }}
									    <br>
									   </div>
									</div>
									<div class="row">
									    <div class="col-md-6">
									    {{ form_label(formularioTurno.dia) }}
									    {{ form_errors(formularioTurno.dia) }}
									    {{ form_widget(formularioTurno.dia) }}
									    </div>
										<br>
										<div style="color:red" id="noPuedeCrearTurno">
										</div>
										<div style="color:green" id="sePuedeCrearTurno">
										</div>
									</div>
									<div class="row">
									    <div class="col-md-6">
									    {{ form_label(formularioTurno.hora) }}
									    {{ form_errors(formularioTurno.hora) }}
									    {{ form_widget(formularioTurno.hora) }}
									    </div>
									</div>
									<div class="row">
									   	<div class="col-md-6">
										    {{ form_label(formularioTurno.direccion) }}
										    {{ form_errors(formularioTurno.direccion) }}
										    {{ form_widget(formularioTurno.direccion) }}
									    </div>
									     <div class="col-md-6">
										    {{ form_label(formularioTurno.telefono) }}
										    {{ form_errors(formularioTurno.telefono) }}
										    {{ form_widget(formularioTurno.telefono) }}
									 	</div>
									</div>
									<div class="row">
									    <div class="col-md-6">
									    {{ form_label(formularioTurno.correo) }}
									    {{ form_errors(formularioTurno.correo) }}
									    {{ form_widget(formularioTurno.correo) }}
									    </div>
									</div>
								  	<hr>
								    {{ form_widget(formularioTurno.enviar) }}
								     </div>

								{{ form_end(formularioTurno) }}
      							</div>
      						</div>
      					</div>
								<br>
      					<div >
	      					<div style="min-height:250px; background-color:#d5bbaa;text-align:center;">
		      					<div style="margin-left:5%;margin-right:10%;padding-top:5%;" class="row">
		      						<div class="col-md-3 " style="color:#4c2606">
		      							<h3>
			      							<p>NUESTROS</p>
			      							<P>MEJORES</P>
			      							<P>AMIGOS</P>
		      							</h3>

		      						</div>
		      						<div class="col-md-3 col-sm-3 col-xs-3">
		      							<img src="{{asset('bundles/frontend/images/index/ceclia-logo.png') }}">

		      								<div  style="color:#4c2606">
		      									<h4 >
		      										<p>CECILIA ALEGRE</p>
		      									</h4>
		      									<p>
		      										Super fan de los perros
		      									</p>
		      								</div>

		      							<p></p>
		      						</div>

		      						<div class="col-md-3 col-sm-3 col-xs-3">
		      							<img src="{{asset('bundles/frontend/images/index/dogchow-logo.png') }}">
		      							<div  style="color:#4c2606">
		      									<h4 >
		      										<p>DOG CHOW</p>
		      									</h4>
		      									<p>
		      										El alimento mas completo
		      									</p>
		      								</div>
		      						</div>
		      						<div class="col-md-3 col-sm-3 col-xs-3">
		      							<img src="{{asset('bundles/frontend/images/index/dogchow-logo.png') }}">
		      							<div  style="color:#4c2606">
		      									<h4 >
		      										<p>ROSA RAMIREZ</p>
		      									</h4>
		      									<p>
		      										Amo los animales
		      									</p>
		      								</div>
		      						</div>
		      					</div>
	      					</div>

      					</div>
      				</div>
							<br><br>

		      		<!-- <div id="quienes-somos" style="margin-left:display:inline-block;background-image: url('{{asset('bundles/Frontend/images/template/banner-botoom.png') }}');background-repeat: no-repeat; background-position: center;width:100%; height:500px"></div> -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
	//datepicker para la fecha del turno
    $("#frontendbundle_formulariocontacto_diayhorapiso").datepicker({
        format: 'dd-mm-yyyy',
        autoclose:true,
        language: 'es'
	});
	//desactivo el boton del formulario
	document.getElementById("frontendbundle_formulariocontacto_enviar").disabled = true;
	
    $( "#frontendbundle_formulariocontacto_diayhorapiso, #frontendbundle_formulariocontacto_hora_hour, #frontendbundle_formulariocontacto_hora_minute" ).change(function() {

        		fecha= $( "#frontendbundle_formulariocontacto_diayhorapiso" ).val();
        		hora= $( "#frontendbundle_formulariocontacto_hora_hour" ).val();
            	minuto= $( "#frontendbundle_formulariocontacto_hora_minute" ).val();


        		ruta = "{{path('obtenerTurnoDisponible',{'fecha':'fecha', 'hora':'hora', 'minuto':'minuto'})}}";
        		ruta = ruta.replace("fecha", fecha);
        		ruta = ruta.replace("hora", hora);
        		ruta = ruta.replace("minuto", minuto);

         	    $.ajax({
                        type: "GET",
                        url: ruta,
                        success: function(data){
													if (data) {
														if (data.length >0) {
															$('#noPuedeCrearTurno').html('El horario no se encuentra disponible para solicitar un turno, por favor eliga otro horario.');
															$('#sePuedeCrearTurno').html('');
															document.getElementById("frontendbundle_formulariocontacto_enviar").disabled = true;
															console.log('aca');
														}else{
															$('#sePuedeCrearTurno').html('El horario se encuentra disponible para solicitar un turno.');
															$('#noPuedeCrearTurno').html('');
															document.getElementById("frontendbundle_formulariocontacto_enviar").disabled = false;
															console.log('aca2');

														}
													}else{
													$('#sePuedeCrearTurno').html('El horario se encuentra disponible para solicitar un turno.');
													$('#noPuedeCrearTurno').html('');
													document.getElementById("frontendbundle_formulariocontacto_enviar").disabled = false;
													console.log('ac3');
													}

											  }
                    }
             )


        });




    </script>



{% endblock %}
