<!DOCTYPE html>
<html>
<head>
	<title>Arphos</title>
	{% block stylesheets %}
	    <link rel="stylesheet" href="{{ asset('bundles/Frontend/css/template.css') }}" />
	    <link rel="stylesheet" href="{{ asset('bundles/Frontend/bootstrap/css/bootstrap.css') }}" />

	{% endblock %}
</head>
<body>
	<div id="container">
		<div id="page">
		
			{% block header %}
			    <div id="banner-top" style="background-image: url('{{asset('bundles/Frontend/images/template/top-banner.png') }}');background-repeat: no-repeat;background-position: center; background-size: cover;width:100%; height:100px position: fixed;">
					<a href="{{path('index')}}"><div style="margin-left:20%;background-image: url('{{asset('bundles/Frontend/images/template/pata-top-banner.png') }}');background-repeat: no-repeat;background-position: left; width:auto; height:100px"></div>
					</a>
				</div>
			{% endblock %}

			{% block wrapper %}
			    <div style="background-color:#faf4ee;   ">
					<div id="wrapper" style="background-image: url('{{asset('bundles/Frontend/images/template/background-wrapper.png') }}');background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;width:100%; height:100% " >
		    
					    <div style="background-color: rgba(255,255,255,0.7);height:100%;">
				<div class="row" >
                                              
                <div class="col-md-2" style=";text-align:center;color:#d5bbaa;text-decoration:none;"></div>
                      <div class="col-md-2"><a href="{{path('nosotros')}}">Nosotros</a></div>
                      <div class="col-md-2" ><a href="{{path('galeria')}}">Galerìa</a></div>
                      <div class="col-md-2"><a href="{{path('tienda')}}">Tienda</a></div>
                      <div class="col-md-2"><a href="{{path('contacto')}}">Contacto</a></div>
                                                    
         		 </div>
                <div style="width:70%;margin-left:auto;margin-right:auto;color:#d5bbaa">
                <hr />
                </div>
					    		{% block content %}
					    		    
					    		{% endblock %}
					    </div>
		    		
		    		</div>
		    </div>
			{% endblock %}
		    {% block footer %}
		      <div id="banner-top" style="background-color:#d5bbaa; height:50px">
		      	<div  class="row">
		      		<a  class="col-md-1" href="">
		      			<div  style="background-image: url('{{asset('bundles/Frontend/images/template/icono-facebook.png') }}');background-repeat: no-repeat;background-position: center; height:50px"></div>
		      		</a>
			      	<a class="col-md-1" href="">
			      		<div  style="background-image: url('{{asset('bundles/Frontend/images/template/icono-instagram.png') }}');background-repeat: no-repeat;background-position: center; height:50px"></div>
			      	</a>
			      	<a  class="col-md-1" href="">
			      		<div style="background-image: url('{{asset('bundles/Frontend/images/template/icono-twitter.png') }}');background-repeat: no-repeat;background-position: center;; height:50px"></div>
			      	</a>
			      	<a  class="col-md-1" href="">
			      		<div  style="background-image: url('{{asset('bundles/Frontend/images/template/icono-youtube.png') }}');background-repeat: no-repeat;background-position: center; height:50px"></div>
			      	</a>
			      	<div class="col-md-5">

			      	</div>
			      	<div class="col-md-3" >
			      		<div  style="background-image: url('{{asset('bundles/Frontend/images/template/contacto-footer.png') }}');background-repeat: no-repeat;background-position: center; height:50px"></div>
			      	</div>
			      	
		      	</div>
		      </div>
    				

		    {% endblock %}
		   
   
				
			</div>
			
	</div>
</body>
</html>
{% block javascripts %}
   <script src="{{ asset('bundles/Frontend/bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}