<!DOCTYPE html>
<html>
<head>
	<title>Arphos</title>
	{% block stylesheets %}
	    <link rel="stylesheet" href="{{ asset('bundles/Frontend/css/template.css') }}" />
	    <link rel="stylesheet" href="{{ asset('bundles/Frontend/bootstrap/css/bootstrap.css') }}" />

	{% endblock %}
</head>
<body>
	<div id="container">
		<div id="page">
		
			<div id="header"></div>
				<div id="banner-top" style="background-image: url('{{asset('bundles/Frontend/images/template/top-banner.png') }}');background-repeat: no-repeat;background-position: center; background-size: cover;width:100%; height:100px"></div>
		    <div style="background-color:#faf4ee;   ">
					<div id="wrapper" style="background-image: url('{{asset('bundles/Frontend/images/template/background-wrapper.png') }}');background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;width:100%; height:1000px ;opacity: 0.1;
		    filter: alpha(opacity=50);" >p´p´p
		    		</div>
		    </div>	
		    <div id="form-turno" style="background-color:white;width:100%;height:800px;">
		    		<div id="icono-mascota" style="margin-left:display:inline-block;background-image: url('{{asset('bundles/Frontend/images/index/logo-perro.png') }}');background-repeat: no-repeat;
		    background-position: center;width:40%; height:500px"></div>
		    </div>	
		      <div id="quienes-somos" style="margin-left:display:inline-block;background-image: url('{{asset('bundles/Frontend/images/template/banner-botoom.png') }}');background-repeat: no-repeat;
    background-position: center;width:100%; height:500px"></div>
    </div>	
   
				{% block content %}
				 
				{% endblock %}
			</div>
			<div id="footer">
				
		</div>
	</div>
</body>
</html>
{% block javascripts %}
   <script src="{{ asset('bundles/Frontend/bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}