{% extends 'FrontendBundle::tienda.html.twig' %}

{% block producto %}
              <h1 class="text-lg-right">{{Producto.nombre}}</h1>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6">
                  <img class="img-fluid img-thumbnail" src="/{{ root }}{{ imagenes }}/{{ Producto.Imagen}}" alt="">
                  <br>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6">
                  <h2>${{Producto.precio}}</h2>
                  {{ form_start(form) }}
                  {{ form_widget(form) }}
                  {{ form_end(form) }}

                </div>
              </div>
<h3>Descripcion del producto:</h3>
<div class="display">{{Producto.descripcion |raw}} </div>
{% endblock %}
