{% extends 'FrontendBundle::tienda.html.twig' %}

{% block producto %}
              <h1 class="text-lg-right">{{Producto.nombre}}</h1>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6">
                  
                  <div id="demo" class="carousel slide" data-ride="carousel">

                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    {% set i = 1 %}
                    {% for Imagen in Imagenes %}
                    <li data-target="#demo" data-slide-to="{{i}}"></li>
                    {% set i = i + 1  %}
                    {% endfor %}
                  </ul>

                  <!-- The slideshow -->
                  <div class="carousel-inner d-flex align-items-center" style="border-style: solid; border-color:#7c5428;background-color:#d5bbaa; height: 400px !important; border-radius:10px; -moz-border-radius:10px; text-align:center;">
                    <div class="carousel-item active">
                      <img style="max-width:100%; max-height: 400px" src="/{{ root }}{{ imagenes }}/{{ Producto.Imagen}}" alt="New York">
                        <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.4);">
                          <h4>{{Producto.nombre}}</h4>
                        </div> 
                    </div>
                    {% for Imagen in Imagenes %}
                    <div class="carousel-item">
                      <img style="max-width:100%; max-height: 400px" src="/{{ root }}{{ imagenes }}/{{Imagen.path}}" alt="New York">
                        <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.4);">
                          <h4>{{Imagen.epigrafe}}</h4>
                        </div> 
                    </div>
                    {% endfor %}
                  </div>

                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>

                </div>
                  <br>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6" style="color:#4c2606; font-size:large;">
                  <h2>${{Producto.precio}}</h2>
                  {{ form_start(form) }}
                  {{ form_widget(form) }}
                  {{ form_end(form) }}
                  {% if Agregado %}
                    <div class="success">Agregado al carrito</div>
                  {% endif %}
                </div>
              </div>
<h3>Descripcion del producto:</h3>
<div class="display" style="border-radius:10px; -moz-border-radius:10px;">{{Producto.descripcion |raw}} </div>
{% endblock %}
